
$base-size: 16px;

$blue: #38a1d1;
$blue-grey: #2e3c61;

html, body {
	background: #161616;
	border: 0;
	color: #ccc;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: $base-size;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	width: 100%;
}

img {
	height: auto;
	max-width: 100%;

	a & {
		border: none;
	}
}

a {
	color: $blue;
}

.container {
	box-sizing: border-box;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1em;
	width: 600px;
}

.clearfix {
	&:after {
		clear: both;
		content: '';
		display: block;
		height: 0;
		width: 100%;
	}
}

.header {
	padding: 0.5em 0;

	.logo {
		display: block;
		height: 45px;
		width: 225px;
	}
}

.main {
	text-align: center;
}

.footer {
	background: rgba($blue-grey, 0.95);
	bottom: 0;
	color: #fff;
	left: 0;
	padding: 1em;
	position: fixed;
	right: 0;
	text-align: center;
}

.circle-wrap {
	margin: 1em 0;
	position: relative;

	.message {
		box-sizing: border-box;
		display: block;
		padding: 0 2em;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate(0, -50%);
		width: 100%;

		.error {
			margin: 1em auto;
			width: 220px;
		}
	}
}

.circle {
	background: #333;
	border-radius: 50%;
	overflow: hidden;
	transition: filter 600ms;
}

#canvas {
	clear: both;
	display: block;
	margin: 0 auto;
}

.error {
	background: rgba(#600, 0.5);
	border: 1px solid #600;
	padding: 0.5em;
}

.thumb {
	display: block;
	float: left;
	height: auto;
	margin: 2%;
	width: 21%;
}

/**
 * Buttons and Form Controls
 */

%button {
	background: #ccc;
	border: 0;
	border-radius: 2px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5rem;
	max-width: 100%;
	min-width: 6em;
	padding: 0.25em 1em;
	text-align: center;
	transition: background 200ms;

	&:focus, &:hover {
		background: $blue;
	}
}

button {
	@extend %button;
}

select {
	margin: 0px 4px;
}

@media screen and (max-width: 500px) {

	.header {

		.logo {
			height: 30px;
			width: 150px;
		}
	}
}
